<form action="/page-with-basic-form" method="post">

    <label>
        First Input
        <input type="text" name="first" value="prefilled" />
    </label>

    <label>
        Second Input
        <input type="text" name="second" value="" />
    </label>

    <label>
        Select Input
        <select name="third">
            <option value="foo">Foo</option>
            <option value="bar">Bar</option>
            <option value="baz">Baz</option>
        </select>
    </label>

    <button type="submit">Submit</button>
</form>

