<form action="/page-with-basic-form" method="post">

    <label>
        First Input
        <input type="text" name="first" value="prefilled" />
    </label>

    <label>
        Second Input
        <input type="text" name="second" value="" />
    </label>

    <button type="submit">Submit</button>
</form>

