/vendor
.DS_Store
.idea
composer.lock
cpresources
/src/bin/index.php
.phpunit.result.cache
/config
.env
bootstrap.php
craft
src/bin/cpresources
!src/bin/craft
storage/*
!storage/.gitkeep
node_modules
/docs/.vitepress/dist
