name: Pages Generation

on:
  push:
    branches: 
      - master

permissions:
  contents: read
  pages: write
  id-token: write

jobs:
  build:

    runs-on: ubuntu-latest

    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}

    steps:
      - uses: actions/checkout@v3
        with:
          persist-credentials: false
          fetch-depth: 0

      - name: Install dependencies
        run: npm ci

      - name: Copy Readme
        run: |
          cp README.md docs/index.md
          cp screenshot.png docs/screenshot.png

      - name: Generate docs
        run: npx vitepress build docs

      - name: Setup Pages
        uses: actions/configure-pages@v2

      - name: Upload artifact
        uses: actions/upload-pages-artifact@v1
        with:
          path: './docs/.vitepress/dist/'

      - name: Deploy to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@v1